* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.container::after {
    content: ' ';
    clear: both;
    display: block;
}


/* -----HEADER-----*/
header {
    width: 100%;
    background-color: black;
    color: white;
    height: 70px;
}

header div.logo {
    text-transform: uppercase;
    width: 30%;
    float: left;
    font-weight: 300;
    height: 50px;
    margin: 10px 0;
    line-height: 50px;
}

header div.logo span {
    text-transform: uppercase;
    color: rgb(0, 194, 162);
    font-weight: bold;
}

header nav.menu {
    width: 70%;
    list-style: none;
    float: right;
    height: 50px;
    margin: 10px 0;
    line-height: 50px;
    position: relative;
}

header nav.menu>ul>li {
    list-style: none;
    float: left;
    margin-left: 30px;
}

header nav.menu>ul {
    float: right;
}

header nav.menu a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

header nav.menu>ul>li:hover >a{
    color: rgb(0, 194, 162);
}

header .submenu {
    position: absolute;
    top: 70px;
    left: 72%;
    transform: translate(-50%, 0);
    background: #000;
    padding: 10px 0;
    text-align: left;
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
}


header .submenu li:hover a{
    color: rgb(0, 194, 162);
}

header .submenu:before {
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #000;
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translate(-50%, 0);
}

header .submenu:after {
    content: '';
    position: absolute;
    left: 0;
    top: -15px;
    width: 100%;
    height: 15px;
}

header nav.menu>ul>li:hover .submenu {
    opacity: 1;
    visibility: visible;
}

header .submenu li {
    display: block;
    text-align: left;
    padding: 0;
    margin: 0;

}

header .menu .submenu li a {
    height: 30px;
    line-height: 30px;
    text-transform: none;
    font-weight: normal;
    padding: 0 20px;
}

.slider {
    width: 100%;
    height: 550px;
    text-align: center;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(204,205,209) 100%);
    background: -webkit-linear-gradient(left top, left bottom, color-stop(0%, rgb(255,255,255)), color-stop(100%, rgb(204,205,209)));
    background: -webkit-linear-gradient(top, rgb(255,255,255) 0%, rgb(204,205,209) 100%);
    background: -o-linear-gradient(top, rgb(255,255,255) 0%, rgb(204,205,209) 100%);
    background: -ms-linear-gradient(top, rgb(255,255,255) 0%, rgb(204,205,209) 100%);
    background: linear-gradient(to bottom, rgb(255,255,255) 0%, rgb(204,205,209) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccdd1', GradientType=0 );
}

.slider div.slider_arrow a{
    font-size: 70px;
    color: rgb(0, 194, 162);
    text-decoration: none;
    line-height: 500px;
    font-weight: 300;
}

section.slider a.arrow_left {
    float: left;
    width: 50px;
}

section.slider a.arrow_right {
    float: right;
    width: 50px;
}

section.slider img.black_chair {
    float: left;
    width: 500px;
    margin-top: 70px;
}

section.slider article.main_info {
    float: left;
    width: 550px;
    padding: 20px 40px;
    line-height: 140%;
}

section.slider h1 {
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 100px;
    font-size: 40px;
}

section.slider span {
    color: rgb(0, 194, 162);
    font-weight: 400;
}

section.slider button.see_more {
    background-color: rgb(0, 194, 162);
    color: white;
    padding: 3% 7%;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

section.slider button.see_more:hover {
    color: rgb(0, 194, 162);
    background-color: white;
}

/* -----PRODUCTS-----*/
section.products {
    width: 100%;
    height: 300px;
    margin-bottom: 80px;
}

section.products div.chair_image {
    width: 364px;
    height: 280px;
    float: left;
    margin-top: 30px;

}

section.products div.chair_image_col1 {
    background-image: url("../images/box1_img.jpg");
    background-repeat: no-repeat;
    background-size: contain;

}

section.products div.chair_image_col2 {
    background-image: url("../images/box2_img.jpg");
    background-repeat: no-repeat;
    margin-left: 24px;
    margin-right: 24px;
    background-size: contain;
}

section.products div.chair_image_col3 {
    border: 1px solid lightgrey;
    padding: 10px 20px;
}

section.products h3 {
    margin-top: 10px;
    border-bottom: 8px solid rgb(0, 194, 162);
    font-size: 16px;
    width: 150px;
    font-weight: 700;

}

section.products div.product_name {
    width: 364px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 150px;
    padding-left: 10px;
}

section.products div.chair_image_col1 h3, section.products div.chair_image_col2 h3 {
    padding-top: 20px;
}


/* -----PRICING-----*/
section.pricing {
    width: 100%;
    height: 800px;
    background-color: #f0f1f2;
    text-align: center;
    color: #c0c0c0;
    display: flex;
    justify-content: space-between;
    align-content: center;
}


div.section_title h2{
    border-bottom: 8px solid rgb(0, 194, 162);
    width: 350px;
    text-transform: uppercase;
    color: #707172;
    padding-top: 50px;
    font-weight: 300;
    text-align: left;
    margin-bottom: 80px;
}

section.pricing div.price_box {
    width: 364px;
    height: 600px;
    border: 2px solid #E4E4E4;
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f9f9;
}



.price_box_2 {
    margin-left: 24px;
    margin-right: 24px;
}

section.pricing ul {
    list-style: none;

}

div.price_head h2 {
    font-weight: 300;
    font-size: 300;
    color: rgb(0, 194, 162);
}

section.pricing div.price_head {
    padding: 20px;

}

section.pricing div.price_circle {
    width: 150px;
    height:150px;
    border-radius: 50%;
    border: 2px solid #E4E4E4;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    background-color: #ffffff;

}

section.pricing div.price_circle_box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: relative;
}

section.pricing .big_price {
    font-size: 40px;
}

section.pricing .small_price {
    padding-bottom: 30px;
}

section.pricing .price_points li {
    background: #E4E4E4;
    font-size: 24px;
    text-align: center;
    padding: 10px 0;
    color: #8F8F8F;

}

section.pricing .price_points li:nth-of-type(even) {
    background: #F1F1F1;
}

section.pricing .price_list_btn{
    margin-top: auto;
    text-align: center;
    margin-bottom: 20px;
    background: rgb(0, 194, 162);
    border: rgb(0, 194, 162);
    display: inline-block;
    padding: 10px 10px;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

section.pricing .price_list_link{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}

section.pricing div.price_circle_box::before {
    content:"";
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    top: -110px;
    border: 2px solid #E4E4E4;
}

section.pricing div.price_circle_box::after {
    content:"";
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #E4E4E4;
    border: 2px solid #E4E4E4;
    top: -90px;
}

section.pricing div.price_box:hover {
    background-color: rgb(0, 194, 162);
    border-color: rgb(0, 194, 162);
}

section.pricing div.price_box:hover .price_head h2 {
    color: white;
}

section.pricing div.price_box:hover div.price_circle {
    border-color: rgb(0, 194, 162);
    color: rgb(0, 194, 162);
}

section.pricing div.price_box:hover .price_list_btn{

    background: white;
    border: white;
}

section.pricing div.price_box:hover .price_list_link{
    color: rgb(0, 194, 162);
}

section.pricing div.price_box:hover div.price_circle_box::before {
    background-color: rgb(0, 194, 162);
    border: 2px solid rgb(0, 194, 162);
}

section.pricing div.price_box:hover div.price_circle_box::after {
    background-color: white;
    border: 2px solid white;
}


section.pricing div.price_box:hover .price-points li {
    background: #F1F1F1;
    color: #8F8F8F;

}

section.pricing div.price_box:hover .price-points li:nth-of-type(even) {
    background: #E4E4E4;
}

/* -----CONTACT-----*/

section.contact {
    padding-top: 40px;
}

.contact_form {
    margin-top: 40px;
}

.contact_form label {
    display: none;
}

.contact_form input[type="text"],
.contact_form input[type="email"],
.contact_form textarea {
    font-family: 'Raleway', sans-serif;
    border: 1px solid #A1E6D1;
    height: 65px;
    padding: 15px;
    width: 100%;
    margin-bottom: 28px;
    font-weight: 300;
    font-size: 24px;
}

.contact_form textarea {
    height: 195px;
    resize: none;
}

.contact_form input[type="text"]:focus,
.contact_form input[type="email"]:focus,
.contact_form textarea:focus {
    border-color: #38C3AD;
    box-shadow: inset 0 0 0 1px #38C3AD;
    outline: none;
}

.contact_form ::-webkit-input-placeholder {
    color: #C9C9C9;
}

.contact_form ::-moz-placeholder {
    color: #C9C9C9;
}

.contact_form :-ms-input-placeholder {
    color: #C9C9C9;
}

.contact_form :-moz-placeholder {
    color: #C9C9C9;
}

.contact_form .contact_box_1 {
    width: 700px;
    float: left;
}

.contact_form .contact_box_2{
    width: 400px;
    float: right;
}

.contact_form_img {
    display: block;
    height: 210px;
    background: url(../images/red_chair.png) center top no-repeat;
}

.contact_form_btn {
    font-size: 26px;
    padding: 15px 30px;
    font-weight: bold;
    margin-top: 25px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    background: rgb(0, 194, 162);
    border: rgb(0, 194, 162);
    border-radius: 10px;
    color: white;
}

.contact_form .checkbox_label {
    margin-top: 30px;
    display: block;
    overflow: hidden;
    position: relative;
}

.contact_form .checkbox_label input {
    position: absolute;
    left: -1000px;
}

.contact_form .checkbox_label input ~ .checkbox_icon {
    width: 50px;
    height: 50px;
    border: 1px solid #A1E6D1;
    display: inline-block;
}

.contact_form .checkbox_label input ~ .checkbox_icon:before {
    width: 50px;
    height: 50px;
    background: url(../images/form_ok.jpg) center center no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    opacity: 0;
    visibility: visible;
    transform: scale(0.6, 0.6);
    transition: 0.5s all;
}

.contact_form .checkbox_label input:checked ~ .checkbox_icon:before {
    opacity: 1;
    visibility: visible;
    transform: scale(1, 1);
}

.contact_form .checkbox_label .checkbox_text {
    display: inline-block;
    width: calc(100% - 70px);
    vertical-align: top;
    padding: 5px 0 0 5px;
    color: #AAA;
}


/* -----FOOTER-----*/
.footer {
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer_box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer_box_1 {
    width: 600px;

}

.footer_box_2 {
    text-align: right;
    width: 500px;

}

.footer .copyright {
    font-size: 16px;
    color: #9B9B9B;
}

.footer .social_icons {
    display: inline-block;
}

.footer .footer_logo {
    display: inline-block;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #9B9B9B;
    margin-left: 70px;
    vertical-align: top;
    line-height: 35px;
}

.social_icons {
}

.social_icons li {
    display: inline-block;
}

.social_icons li .social {
    width: 35px;
    height: 35px;
    text-indent: -999px;
    overflow: hidden;
    text-align: left;
    display: inline-block;
}

.social_icons .social_flickr {
    background: url(../images/flickr.png) no-repeat;
}

.social_icons .social_vimeo {
    background: url(../images/vimeo.png) no-repeat;
}

.social_icons .social_pinterest {
    background: url(../images/pinterest.png) no-repeat;
}

.social_icons .social_twitter {
    background: url(../images/twitter.png) no-repeat;
}